body {
    display: flex;
    flex-direction: column;
}
body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;
}

.header {
    display: flex;
    align-items: center;
    padding: 6px;
}

a {
    text-decoration: none;
    color: #202124;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
}

.middle-to-right{
    flex-grow: 1;
    display: inline-block;
}

.top-right{
    display: flex;
    float: right;
    padding-left: 0;
    justify-content: flex-end;
    flex: 0 0 auto;
}

.svg-user{
    position: relative;
    display: inline-block;
}

.svg-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  